<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script defer src="/js/bootstrap.js"></script>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="stylesheet" href="./style.css" />
    <title><%=title%></title>
  </head>
  <body>
    <header><%- include('./partials/header'); %></header>
    <section class="login-content">
      <div class="container-fluid">
        <h1 class="text-center">Авторизация</h1>
        <%- include('./partials/messages') %>
        <form class="container needs-validation" action="/login" method="post" novalidate="">
          <div class="row g-2 g-5">
            <div class="col-12">
              <div class="form-floating mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="loginForm[email]"
                  placeholder="name@email.com"
                  required=""
                />
                <label for="validationCustom01">Email</label>
                <div class="invalid-feedback">
                  Пожалуйста, введите ваш email.
                </div>
              </div>
            </div>
          </div>
  
          <div class="row g-2 g-5">
            <div class="col-12">
              <div class="form-floating mb-3">
                <input
                  type="password"
                  class="form-control pas"
                  id="password"
                  name="loginForm[password]"
                  placeholder="Введите пароль"
                  required=""
                />
                <label for="validationCustomPas">Введите пароль</label>
                <div class="invalid-feedback">
                  Пожалуйста, введите ваш пароль.
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 col-sm-4 align-items-center">
              <button type="submit" class="btn btn-info  ">Войти</button>
            </div>
            <div class="col-12 col-sm-3 align-items-center">
              <a href="/auth/yandex" class="btn btn-info links"><img src="/img/Yandex.png"/>Войти через Яндекс</a>
            </div>
            <div class="col-12 col-sm-3 align-items-center">
              <a href="/auth/google" class="btn btn-info links"><img src="/img/Google.png"/>Войти через Google</a>
            </div>
            <div class="col-12 col-sm-3 align-items-center">
              <a href="/auth/vkontakte" class="btn btn-info links"><img src="/img/VK.png"/>Войти через VK</a>
            </div>
            <div class="col-12 col-sm-3 align-items-center">
              <a href="/auth/github" class="btn btn-info links"><img src="/img/github.png"/>Войти через GitHub</a>
            </div>
            
          </div>
          <div class="row g-2 g-5">
            <div class="col-12 col-sm-6">
              <a href="register" class="text-decoration-none">У вас нет аккаунта? Регистрация</a>
            </div>
          </div>
        </form>
      </section>
    <footer><%- include('./partials/footer')%></footer>
      </body>
</html>
