<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script defer src="./css/bootstrap-5.3.2/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="./css/index.css" />
    <title>Login</title>
  </head>
  <body>
    <header><%- include('./partials/header'); %></header>
    <section class="login-content">
        <div class="container-fluid">
        <h1 class="text-center">Авторизация</h1>
        <form class="container needs-validation" novalidate="">
          <div class="row g-2 g-5">
            <div class="col-12">
              <div class="form-floating mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="validationCustom01"
                  placeholder="name@email.com"
                  required=""
                />
                <label for="validationCustom01">Email</label>
                <div class="invalid-feedback">
                  Пожалуйста, введите ваш email.
                </div>
              </div>
            </div>
          </div>
  
          <div class="row g-2 g-5">
            <div class="col-12">
              <div class="form-floating mb-3">
                <input
                  type="password"
                  class="form-control pas"
                  id="validationCustomPas"
                  placeholder="Введите пароль"
                  required=""
                />
                <label for="validationCustomPas">Введите пароль</label>
                <div class="invalid-feedback">
                  Пожалуйста, введите ваш пароль.
                </div>
              </div>
              <label class="form"><input type="checkbox" class="password-checkbox" onclick="showAndHidePas()"> Показать пароль</label>  
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 col-sm-4 align-items-center">
              <button type="submit" class="btn btn-info  ">Войти</button>
            </div>
          </div>
          <div class="row g-2 g-5">
            <div class="col-12 col-sm-6">
              <a href="register" class="text-decoration-none">У вас нет аккаунта? Регистрация</a>
            </div>
          </div>
        </form>
      </section>
    <footer><%- include('./partials/footer')%></footer>
  </body>
</html>
