<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="./style.css" />

    <script defer src="/js/bootstrap.js"></script>
    <title><%= title %></title>
  </head>
  <body>
    <header class="header"><%- include(`./partials/header`) %></header>
    <div class="content-sm">
      <div class="container-lg">
         <div class="main text-center mt-3 mb-3">
        <h4 class="main__header">Библиотека Алвара Аалто в Выборге</h4>
        <p class="main__content">
          Здание центральной городской библиотеки в Выборге было построено в 1935 году по проекту выдающегося финского архитектора Алвара Аалто.
          Во многих странах мира город Выборг известен, прежде всего тем, что в нем есть уникальная библиотека.      
          Среди личностей, которые в ХХ веке оказали наиболее сильное воздействие на развитие библиотек всего мира, имя Аалто – одно из самых значительных. Если же говорить об архитекторах, то это фигура выдающаяся.
          Финский архитектор Алвар Аалто построил 11 библиотек. Чуть больше половины из них создано для Финляндии, три библиотеки как составные части общественных центров были построены в Германии. Аалто была спроектирована библиотека Скандинавского центра в Рейкьявике в Исландии. Он является архитектором одной из наиболее известных библиотек США. Но лучшая из них и самая известная из всех библиотечных, а может быть, вообще из всех работ мастера находится в России в Выборге.
        </p>
      </div>
      </div>
     
      <div class="d-flex justify-content-center">
        <video width="1200" height="600" controls>
          <source src="video.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>

      
       <footer class="bg-body-tertiary text-center text-lg-start"><%- include(`./partials/footer`) %></footer>
  </body>
</html>